body{
    font-family: "Comfortaa", sans-serif;
}

.parent{
    position: relative;
    /* border: 1px black solid; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle{
    height: 750px;
    width: 750px;
    background-color:#476EF7;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -120px;
    z-index: 1;

}
.header-home{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 0px 25px;
}

#click-here-btn{
    background-color:white;
    color: #476EF7;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.50);
    
}
#name{
    color: #476EF7;
    font-size: 150px;
}
.form-floating{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border: 8px;
}
#login-button{
    background-color: #476EF7;
    margin-top: 20px;
    color: white;
    padding: 8px 25px;
    
}
.main-content{
    margin-left: 30px;
}
@media only screen and (max-width: 768px) {
    .solid-circle{
    height: 300px;
    width: 300px;
    background-color:black;
    border-radius:60%;

    right: -140px;
    top: -110px;
    }
    #click-here-btn{
    background-color:white;
    color:black;
    }
    #name{
    color:black;
    font-size: 110px;
    }
    #login-button{
    background-color:black;
    
    
    }

}