body{
    font-family: "Comfortaa", sans-serif;
}
.header{
    background: #476EF7;
    color: white;
    padding-left: 75px;
    font-size: x-large;
}
.input-form{
    display: flex;

    justify-content: space-around;
    width:95%;
    margin: auto;
    border-radius: 8px; 
    box-shadow: 0px 0px 5px  #476EF7;
    margin-top: 15px;
    padding: 10px 0px;
}


#add-button{
    background: #476EF7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.inputs{
    width:30% ;
}
.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;

}
.card{
    background: #476EF7;
    border: none;
    height: 150px;
    width: 18rem;
    font-size: 600;
}
.card-body{
    color: white;
}
.Transaction-table{
    
    width: 95%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    font-size: 800;
    box-shadow: 2px 3px 4px black;
    padding: 0px;

}
.header-row{
    background: #476EF7;
        

}
.header-row th{
    padding: 15px 10px;
    color: white;
    
}
.delete-button,.delete-button-hover
{
    
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    

}
@media only screen and (max-width: 768px) {
    .header{
    background: black;
    
    }
    .input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 5px  black;
    
    }
    .inputs{
    width:75%;
    }
    #add-button{
    background:black;
    border-radius:8px;
    width: 75%;
    }
    .cards{
    display: flex;
    flex-wrap:wrap ;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;

    }
    .card{
    background: black;
    border: none;
    height: 180px;
    width: 180px;
    
    }
    .header-row{
    background:black;
    }

}
